<!DOCTYPE html>
<html>
  <head>
    <title><%= @domain.name %> - Lidt nemmere studiestart</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Source+Sans+Pro" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet">

    <%= render partial: 'layouts/custom_colors', locals: { colors: @domain.colors }%>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.3.1/locales/da.js"></script>
    <script>

      window.rus_maps = [];
      function initGoogleMap(){
        <%= content_for :init_maps %>
      }
    </script>

    <%= yield :head %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125241308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125241308-1');
    </script>
  </head>
  <body>
    <div class="color-base">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <% if current_user.present? %>
      <footer>
        <p>Logget ind som: <%= current_user.name %> - <%= link_to "Gå til administration#{" for #{current_user.educational_domain.name}" if current_user.domain_admin?}", admin_root_path if current_user.domain_admin? || current_user.system_admin? %></p>
      </footer>
    <% end %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGztWYFJv5qtbDPwYM8cqPN6LE7bdFr2M&callback=initGoogleMap"></script>
  </body>
</html>
